@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Roboto:wght@300&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Noto Sans JP', sans-serif !important;
  color: white;
  /* background-repeat: no-repeat; */
  background-image: linear-gradient(rgba(22, 21, 21, 1) 1%, rgba(38, 36, 36, 1) 6%, rgba(29, 29, 34, 0.958420868347339) 13%, rgba(43, 43, 47, 1) 28%, rgba(47, 49, 50, 1) 100%);
  background-repeat: no-repeat;
}

.ant-modal-content {
  background-image: linear-gradient(rgba(22, 21, 21, 1) 1%, rgba(38, 36, 36, 1) 6%, rgba(29, 29, 34, 0.958420868347339) 13%, rgba(43, 43, 47, 1) 28%, rgba(47, 49, 50, 1) 100%) !important;
  background-repeat: no-repeat !important;
}